repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: double-quote-string-fixer
      - id: requirements-txt-fixer
      - id: name-tests-test
        always_run: true
        args: [--pytest-test-first]
      - id: mixed-line-ending
        args: [--fix=lf]

  - repo: https://github.com/DanielNoord/pydocstringformatter
    rev: v0.7.3
    hooks:
      - id: pydocstringformatter
        args: [--style=pep257, --style=numpydoc]
        name: Format docstrings

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.12.0
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
        name: Upgrade code

  - repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v2.0.4
    hooks:
      - id: autopep8
        args: [--in-place]
        name: Format code style

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: [-m=3]
        name: Sort imports

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.291
    hooks:
      - id: ruff
        args: [--exit-non-zero-on-fix, --fix, --line-length=180]
        name: Lint code
