prune .github
prune docs
prune imgs
prune examples
prune notebooks
prune pythresh/test
exclude .readthedocs.yaml
exclude .gitignore
exclude .codeclimate.yml
exclude .pre-commit-config.yaml
exclude CHANGES.txt
exclude requirements-test.txt
include README.rst
include requirements.txt
include pythresh/utils/*
include pythresh/models/meta_model_GNB.pkl
include pythresh/models/meta_model_GNBC.pkl
include pythresh/models/meta_model_GNBM.pkl
include pythresh/models/meta_model_LIN.pkl
include pythresh/models/rank_model_XGB.json
