#geomstats
https://github.com/geomstats/geomstats/archive/main.zip
#pyclustering
https://github.com/KulikDM/pyclustering/archive/Warning-Fix.zip
joblib>=0.14.1
matplotlib
numpy<=1.26.4
pandas
pyod
ruptures
scikit-learn>=0.20.0
scikit-lego
scipy>=1.3.1
setuptools>=65.5.1
torch
tqdm
xgboost>=2.0.0,<2.1.0
