#git+https://github.com/deepcharles/ruptures.git
#pyclustering
https://github.com/KulikDM/pyclustering/archive/Warning-Fix.zip
joblib>=0.14.1
numpy
pandas
pyod
ruptures
scikit-learn>=0.22.0
scikit-lego
scipy>=1.5.1
setuptools>=65.5.1
torch
tqdm
xgboost>=2.0.0,<2.1.0
